<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur "vigo" Özyılmazel</string>
	<key>description</key>
	<string>If you still use TextMate in 2025 and writing Go, you will love this.</string>
	<key>name</key>
	<string>Golang Bundle</string>
	<key>uuid</key>
	<string>6A0ED627-48ED-4660-8F19-9E1D09800714</string>
    <key>mainMenu</key>
    <dict>
        <key>items</key>
        <array>
            <string>639815B4-960C-41F1-849D-8C22A73E35F8</string>
            <string>4D70D1FF-B1A1-456D-AEEF-3492E276BA3B</string>
            <string>------------------------------------</string>
            <string>E6366605-E32A-4FA8-B2C4-ECA2CC2E8C20</string>
            <string>------------------------------------</string>
            <string>653A1CC6-38A3-4726-A2ED-BD5CD3BDA0B8</string>
            <string>------------------------------------</string>
        </array>
    </dict>
</dict>
</plist>
