<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>hthebmlvyznmry@tznvy.pbz</string>
	<key>contactName</key>
	<string>Uğur "vigo" Özyılmazel</string>
	<key>description</key>
	<string>If you still use TextMate in 2025 and writing Go, you will love this.</string>
	<key>name</key>
	<string>Golang Bundle</string>
	<key>uuid</key>
	<string>6A0ED627-48ED-4660-8F19-9E1D09800714</string>
</dict>
</plist>
